<!DOCTYPE html>
<html>
  <head>
    <title>BarHopBuddy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href='https://fonts.googleapis.com/css?family=Roboto'/>
    <%= favicon_link_tag asset_path('favicon-clock'), :rel => 'icon', :type =>  'image/png' %>
    <% if current_page?(root_path) %>
      <meta http-equiv="refresh" content="3;url=http://localhost:3000/auth/google_oauth2" />
    <% end %>
  </head>

  <body>
    <% unless current_page?(root_path) %>
      <nav class="ui borderless menu grid">
        <div class="five wide column fitted item">
          <span class="left-pad nav-app-name">BarH</span>
          <div class="nav-image">
            <%= image_tag "five-oclock-white", height: "16px", width: "16px"%>
          </div>
            <span class="nav-app-name">pBuddy</span>
        </div>
        <% if current_page?(deals_path) %>
          <div class="six wide column item flex-row-center">
            <%= button_to 'Find Your Bars', map_path, class: "ui button", method: :get %>
          </div>
        <% elsif current_page?(map_path) %>
          <div class="six wide column item flex-row-center">
            <%= button_to 'Find More Bars', deals_path, class: "ui button", method: :get %>
          </div>
        <% end %>
        <div class="five wide column right item flex-row-r">
          <%= button_to 'Log Out', logout_path, class: "ui button logout", method: :delete %>
        </div>
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
