<!DOCTYPE html>
<html>
  <head>
    <title>BarHopBuddy</title>
    <%= csrf_meta_tags %>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Rubik'/>
    <meta name=viewport content='width=750'>
    <%= favicon_link_tag asset_path("favicon-clock.png"), :rel => 'icon', :type =>  'image/png' %>
    <% if current_page?(root_path) %>
      <meta http-equiv="refresh" content="3;url=https://barhopbuddy.herokuapp.com/auth/google_oauth2" />
    <% end %>
  </head>

  <body>
    <% unless current_page?(root_path) %>
      <nav class="ui borderless menu grid">
        <div class="five wide column fitted item">
          <span class="left-pad nav-app-name">BarH</span>
          <div class="nav-image">
            <%= image_tag "five-oclock-white", height: "23px", width: "23px"%>
          </div>
          <span class="nav-app-name">pBuddy</span>
        </div>
        <% if current_page?(deals_path) %>
          <div class="six wide column item flex-row-center">
            <%= button_to 'Find Your Bars', map_path, class: "large ui button", method: :get %>
          </div>
        <% elsif current_page?(map_path) || current_page?(edit_bar_path(bar_owner?)) %>
          <div class="six wide column item flex-row-center">
            <%= button_to 'Select Your Bars', deals_path, class: "large ui button", method: :get %>
          </div>
        <% end %>
        <div class="five wide column right item flex-row-r">
          <%= button_to 'Log Out', logout_path, class: "ui button", id: "logout", method: :delete %>
          <% if bar_owner? && !current_page?(edit_bar_path(bar_owner?)) %>
            <%= button_to 'Edit Your Bar', edit_bar_path(bar_owner?), class: "ui button", method: :get %>
          <% end %>
        </div>
      </nav>
    <% end %>
      <% flash.each do |type, message| %>
        <div class="ui floating message rubik-thin", id="flash">
          <%= content_tag :div, message.html_safe, class: type %>
        </div>
      <% end %>
    <%= yield %>
  </body>
</html>
